/* components/LandingHero/landing-hero.module.css */

.landingHero {
    height: 400px;
}

.landingHeroText {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    padding: 10px;
    max-width: 80%;
    text-align: left;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.landingHeroTitle {
    font-weight: bold;
    font-size: 3rem;
}

.landingHeroSubtitle {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .landingHero {
        height: 300px; /* Adjust height for mobile */
    }
    .landingHeroText {
        top: 15%; /* Adjust position for mobile */
        left: 5%;
        max-width: 90%;
        padding: 5px;
    }
    .landingHeroTitle {
        font-size: 2rem; /* Adjust title size for mobile */
    }
    .landingHeroSubtitle {
        font-size: 1.5rem; /* Adjust subtitle size for mobile */
    }
}
